* {
padding:0;
margin:0;
vertical-align:baseline;
list-style:none;
border:0
}

html {
  scroll-behavior: smooth;
  background-image: url(./imgs/konoha.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.Text {
  text-align: center;
  color: white;
  margin: 20px;
  width: 60%;
  font-size: larger;
  background-color: rgba(4, 4, 26, 0.5);
  border: black solid 1px;
  border-radius: 10px;
  padding: 20px;
}

.Text-med {
  text-align: center;
  color: white;
  margin: 20px;
  width: 60%;
  font-size: medium;
  background-color: rgba(4, 4, 26, 0.8);
  border: black solid 1px;
  border-radius: 10px;
  padding: 20px;
  -webkit-box-shadow: 5px 5px 10px 1px rgba(42, 105, 187, 0.993);
  -moz-box-shadow: 5px 5px 10px 1px rgba(42, 105, 187, 0.993);
  box-shadow: 5px 5px 10px 1px rgba(42, 105, 187, 0.993);
}

.Text-org {
  text-align: center;
  color: white;
  margin: 20px;
  width: 60%;
  font-size: medium;
  background-color: rgba(4, 4, 26, 0.8);
  border: black solid 1px;
  border-radius: 10px;
  padding: 20px;
  -webkit-box-shadow: 5px 5px 10px 1px rgba(42, 105, 187, 0.993);
  -moz-box-shadow: 5px 5px 10px 1px rgba(42, 105, 187, 0.993);
  box-shadow: 5px 5px 10px 1px rgba(42, 105, 187, 0.993);
}

.Text-org:hover {
  -webkit-box-shadow: 5px 5px 10px 1px rgb(4, 240, 44);
  -moz-box-shadow: 5px 5px 10px 1px rgb(4, 240, 44);
  box-shadow: 5px 5px 10px 1px rgb(4, 240, 44);
}

.Menu {
  width: 720px;
  height: 440px;
  animation: opacity 2s 1 forwards;
}

.Menu > img {
  display: block;
  width: 550px;
  position: relative;
  top: -50px;
  margin-left: auto;
  margin-right: auto;
}

.Menu > nav {
  border: rgba(0, 0, 0, 0.3)solid 1px;
  display: flex;
  height: 40px;
  position: relative;
  bottom: 80px;
  background-color: rgba(4, 4, 26, 0.7);
  -webkit-box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.5);
  -moz-box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.5);
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.5);
  border-radius: 5px;
}

.Menu > nav > div {
  padding: 5px;
  text-decoration: none;
}

.Menu > nav > div > a {
  text-decoration: none;
  display: block;
  color: white;
  font-size: larger;
  text-align: center;
}

.Menu > nav > div:hover {
  background-color: rgba(2, 138, 250, 0.3);
  border-radius: 5px;
  padding: 5px;
}

.Menu > nav > div:last-child {
  display: block;
  margin-left: auto;
}

.Section {
  border: rgba(0, 0, 0, 0.3)solid 1px;
  width: 1120px;
  background-color: rgba(4, 4, 26, 0.3);
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.5);
  -moz-box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.5);
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: opacity 2s 1 forwards;
  
}

.Personagens {
  display: flex;
  max-width: 1100px;
  flex-direction: column;
  align-items: center;
  animation: opacity 2s 1 forwards;
  padding-bottom: 50px;
}
/* animation: width 2s 1 forwards; */

@keyframes opacity {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.Personagens > section {
  display: flex;
  width: 75%;
  justify-content: center;
  padding-top: 10px;
  flex-wrap: wrap;
  border-radius: 10px;
  background-color: rgba(4, 4, 26, 0.5);
  border: rgba(0, 0, 0, 0.3)solid 1px;
  -webkit-box-shadow: 5px 5px 10px 1px rgba(42, 105, 187, 0.993);
  -moz-box-shadow: 5px 5px 10px 1px rgba(42, 105, 187, 0.993);
  box-shadow: 5px 5px 10px 1px rgba(42, 105, 187, 0.993);
}

.Personagens > section > a {
  padding: 10px;
}

.Personagens > section > a > img {
  border: rgb(15, 64, 228) solid 1px;
  border-radius: 10px;
  cursor: pointer;
}

.Personagens > section > a > img:hover {
  border: rgb(26, 240, 26) solid 1px;
  -webkit-box-shadow: 2px 2px 10px 1px rgb(4, 240, 44);
  -moz-box-shadow: 2px 2px 10px 1px rgb(4, 240, 44);
  box-shadow: 2px 2px 10px 1px rgb(4, 240, 44);
}


.Items {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: opacity 2s 1 forwards;
}

.Items > #Img_Items_Game {
  border: rgb(0, 0, 0) solid 1px;
}

.Items > nav {
  display: flex;
  justify-content: space-around;
  border: rgb(0, 0, 0) solid 1px;
  width: 660px;
  background-color: rgba(4, 4, 26, 0.75);

}

.Items > nav > div{
  padding: 5px;
  color: white;
  font-size: larger;
  text-align: center;
}

.Items > nav > div:hover{
  background-color: rgba(2, 138, 250, 0.3);
  border-radius: 5px;
  cursor: pointer;
}

.Items > section {
  padding: 15px;
  width: 75%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border: blue solid 1px;
  margin: 15px;
  border-radius: 15px;
  background-color: rgba(4, 4, 26, 0.5);
  text-decoration:none;;
  border: rgba(0, 0, 0, 0.3)solid 1px;
  -webkit-box-shadow: 5px 5px 10px 1px rgba(42, 105, 187, 0.993);
  -moz-box-shadow: 5px 5px 10px 1px rgba(42, 105, 187, 0.993);
  box-shadow: 5px 5px 10px 1px rgba(42, 105, 187, 0.993);
}

.Items > section > a > img {
  width: 48px;
}

.Items > section > a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: rgba(2, 204, 240, 0.938) solid 1px;
  background-color: rgba(4, 4, 26, 0.3);
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration:none;;
  padding: 5px;
}

.Items > section > a:hover {
  border: rgb(26, 240, 26) solid 1px;
  -webkit-box-shadow: 2px 2px 10px 1px rgb(4, 240, 44);
  -moz-box-shadow: 2px 2px 10px 1px rgb(4, 240, 44);
  box-shadow: 2px 2px 10px 1px rgb(4, 240, 44);
}

#Text-Details {
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  width: 70%;
  padding: 15px;
  background-color: rgba(4, 4, 26, 0.5);
  border: rgba(0, 0, 0, 0.3)solid 1px;
}

.Item-Details {
  border: rgba(0, 0, 0, 0.3)solid 1px;
  margin: 25px;
  background-color: rgba(4, 4, 26, 0.5);
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 900px;
  text-align: center;
  -webkit-box-shadow: 5px 5px 10px 1px rgba(42, 105, 187, 0.993);
  -moz-box-shadow: 5px 5px 10px 1px rgba(42, 105, 187, 0.993);
  box-shadow: 5px 5px 10px 1px rgba(42, 105, 187, 0.993);
}

.Item-Details > section {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  padding: 35px;
}

.Item-Details > section > div {
  position: relative;
  right: 15px;
  width: 370px;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.Item-Details > section > img{
  border: rgba(0, 0, 0, 0.3)solid 1px;
  width: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: rgba(0, 0, 0, 0.3)solid 1px;
  -webkit-box-shadow: 5px 5px 10px 1px rgba(42, 105, 187, 0.993);
  -moz-box-shadow: 5px 5px 10px 1px rgba(42, 105, 187, 0.993);
  box-shadow: 5px 5px 10px 1px rgba(42, 105, 187, 0.993);
}

.Missions {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: opacity 2s 1 forwards;
}

.Missions > section{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Missions > section > a {
  display: flex;
  flex-direction: column;
  border: blue solid 1px;
  margin: 15px;
  height: 495px;
  border-radius: 15px;
  background-color: rgba(4, 4, 26, 0.3);
  cursor: pointer;
  text-decoration:none;;
}


.Missions > section > a > img{
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 50px;
}

.Missions > section > a #ImgAnbu {
  position: relative;
  bottom: 25px;
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Missions > section > a #ImgAkatsuki {
  padding-top: 45px;
  padding-bottom: 85px;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Missions > section > a #ImgOtsutsuki {
  width: 175px;
  padding-top: 25px;
  padding-bottom: 65px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Missions > section > a #ImgKage {
  position: relative;
  bottom: 30px;
  padding-top: 55px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Active:hover {
  -webkit-box-shadow: 5px 5px 10px 1px rgba(42, 105, 187, 0.993);
  -moz-box-shadow: 5px 5px 10px 1px rgba(42, 105, 187, 0.993);
  box-shadow: 5px 5px 10px 1px rgba(42, 105, 187, 0.993);
}

.Missions > section > a:hover {
    background-color: rgba(4, 4, 26, 0.5);
    border: rgb(26, 240, 26) solid 1px;
  -webkit-box-shadow: 2px 2px 10px 1px rgb(4, 240, 44);
  -moz-box-shadow: 2px 2px 10px 1px rgb(4, 240, 44);
  box-shadow: 2px 2px 10px 1px rgb(4, 240, 44);
}

.Home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  min-width: 1120px;
  min-height: 650px;
  animation: opacity 5s 1 forwards;
  padding-top: 50px;
}

#Text-Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  color: white;
  height: 550px;
  font-size: larger;
  width: 424px;
  border-radius: 10px;
  background-color: rgba(4, 4, 26, 0.6);
  -webkit-box-shadow: 5px 5px 10px 2px rgba(42, 105, 187, 0.993);
  -moz-box-shadow: 5px 5px 10px 2px rgba(42, 105, 187, 0.993);
  box-shadow: 5px 5px 10px 2px rgba(42, 105, 187, 0.993);
}

#Text-Home > img {
  border: rgba(0, 0, 0, 0.2)solid 1px;
  border-radius: 10px;
  position: relative;
  top: 25px;
  width: 471px;
}

#Facebook {
  position: relative;
  border: rgba(0, 0, 0, 0.3)solid 1px;
  -webkit-box-shadow: 5px 5px 10px 1px rgba(42, 105, 187, 0.993);
  -moz-box-shadow: 5px 5px 10px 1px rgba(42, 105, 187, 0.993);
  box-shadow: 5px 5px 10px 1px rgba(42, 105, 187, 0.993);
}

#Face-Comments {
  position: relative;
  top:50px;
  background-color: rgba(4, 4, 26, 0.7);
  border-radius: 5px;
}

.Map {
  display: flex;
  flex-direction: column;
  height: 750px;
}

.Map > article {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top:50px;
  width: 450px;
}

.Map > img {
  cursor: pointer;
  opacity: 0.8;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 40px;
}

.Map > img:hover {
  cursor: pointer;
  opacity: 1;
}

.awssld  {
--slider-height-percentage: 40%;
--slider-transition-duration: 700ms;
--organic-arrow-thickness: 8px;
--organic-arrow-border-radius: 25px;
--organic-arrow-height: 60px;
--organic-arrow-color: #2d4af0;
--control-button-width: 10%;
--control-button-height: 25%;
--control-button-background: transparent;
--control-bullet-color: #3b3d3fa4;
--control-bullet-active-color: #16294da1;
--loader-bar-color: transparent;
--loader-bar-height: 0px;
}